/* ======================================
  ESTILOS GENERALES APLICADOS A ETIQUETAS
========================================= */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fbfbfb;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

a {
  color: #1b1a1a;
  text-decoration: none;
}

/* ======================================
    ESTILOS GENERALES APLICADOS A CLASES
========================================= */
.buttonPrimary {
  text-decoration: none;
  color: #f8f4fc !important;
  width: 190px;
  height: 35px;
  align-items: left;
  background: #0894c4;
  transition: all 0.3s ease 0s;
  border-radius: 12px !important;
  border: none;
  font-size: 15px;
}

.buttonPrimary:hover {
    background: rgb(1, 82, 102);
}

.custom-input {
  background-color: #ffffff !important;
}

.smallText {
  display: flex;
  justify-content: space-between;
}

.form-group small {
  color: #1b1a1a !important;
}

.form-group {
  text-align: left;
  padding: 7px;
}

#header {
  background-color: #e8edf7 !important;
}

#footer {
  background-color: #e8edf7 !important;
}

/* ================================
    ESTILOS APLICADOS AL HEADER
=================================== */

#header {
  background-color: #e8edf7 !important;
}

/* ================================
    ESTILOS APLICADOS AL FOOTER
=================================== */

#footer {
  background-color: #e8edf7 !important;
}

/* ======================================
    ESTILOS PARA EL LOGIN DEL USUARIO
========================================= */
#login-container {
  background: linear-gradient(270deg, rgba(8,107,132,1) 0%, rgba(11, 63, 77, 0.788) 100%);
  background-color: rgba(8,107,132,1);
  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
}

#login-box {
  margin: 10%;
  background-color: #e8edf7;
  width: 400px;
  border-radius: 15px;
  text-align: center;
  display: block !important;
  border: #c9c7c7 1px solid;
  box-shadow: 0 1px 40px rgba(0, 0, 0, 0.253);
}



#loginTitle {
  color: #1b1a1a !important;
  padding: 10px;
  font-size: 30px;
}

.loginForm label {
  display: block;
  margin: 10px 0;
  color: #1b1a1a;
}

.loginForm input,
.loginForm input[type="submit"] {
  display: block;
  margin: 10px 0;
}

.loginForm label {
  text-align: left;
}

#forgotPassword a {
  transition: all 0.3s ease 0s;
}

#forgotPassword a:hover {
  color: rgb(44, 135, 196) !important;
}

#createAccount a {
  transition: all 0.3s ease 0s;
}

#createAccount a:hover {
  color: rgb(44, 135, 196) !important;
}

.smallText {
  display: flex;
  justify-content: space-between;
}

#createAccount {
  text-align: right !important;
}

#login-box button {
  margin-top: 50px;
  width: 190px;
  align-items: left;
  background: #0894c4;
  transition: all 0.3s ease 0s;
  border: none;
}

#login-box button:hover {
  background: rgb(1, 82, 102);
}

/* ======================================
   ESTILOS PARA EL REGISTRO DE USUARIOS
========================================= */
#signup-container {
  background: linear-gradient(270deg, rgba(8,107,132,1) 0%, rgba(11, 63, 77, 0.788) 100%);
  background-color: rgba(8,107,132,1);
  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
}

#signup-card {
  margin: 7% !important;
  background-color: #e8edf7;
  border-radius: 15px;
  width: 800px;
  margin: 30px;
}

/* ======================================
  ESTILOS PARA LA CONFIRMACIÓN DE CUENTA
========================================= */
#otp-container {
  background: linear-gradient(270deg, rgba(8,107,132,1) 0%, rgba(11, 63, 77, 0.788) 100%);
  background-color: rgba(8,107,132,1);
  height: 600px;
  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
}

#otp-card {
  margin-top: 10% !important;
  background-color: #e8edf7;
  border-radius: 15px;
  width: 600px;
  margin: 30px;
  padding: 20px;
  text-align: center !important;
  color: black;
}

/* ======================================
      ESTILOS PARA EL CAMBIO DE CLAVE
========================================= */

#forgetpassword-container {
  background: linear-gradient(270deg, rgba(8,107,132,1) 0%, rgba(11, 63, 77, 0.788) 100%);
  background-color: rgba(8,107,132,1);
  height: 600px;
  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
}

#forgetpassword-card {
  margin-top: 150px !important;
  background-color: #e8edf7;
  border-radius: 15px;
  width: 700px;
  margin: 30px;
  text-align: center;
  color: black;
}

/* Estilos para la pantalla de perfil*/
.profileContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 720px;
}

#profileImg {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

#profileName {
  font-size: 35px;
}

.profileBox {
  background-color: #24252A;
  border-radius: 25px;
  text-align: center;
  width: 500px;
}

.boxRow {
  padding: 20px;
}

.optionTitle {
  color: #060606;
  font-size: 26px;
  margin: 5px;
}

.optionButton {
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}

.optionButton:hover {
  background: #b5b5b552;
}

@media (max-width: 575px) {
  .optionButton {
      margin-top: 5px;
  }
}

.colProfile1{
  margin-right:10px;
}
.colProfile2{
  margin-left:20px;
}
/* ESTILOS PARA EL COMPONENTE EDITAR PERFIL*/

.containerEdit{
  margin-top: 150px;
  margin-bottom: 50px;
}

.inputEdit{
  margin-left: 20px;
  border-radius: 10px;
 
}
.form-group small {
  color: #FAFAFA !important;
}

.form-group {
  text-align: left;

}

.butonEdit{
  padding-top: 20px;
}

/*ESTILOS PARA LA PAGINA DE INICIO*/
.fondoInicio{
  background-image: url("../src/img/imgFondo.jpeg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  }

  #titulo-inicio{
    color: rgb(13, 150, 192);
    padding-top: 150px;
    padding-right: 50px;
  }
 
  .linea{
    width: 50%;
    border-top: 2px solid #333; 
    margin: 0 auto; /* Centra la línea horizontalmente */

  }
/*ESTILOS PARA LA PAGINA DE SOLICITAR UN TRAMITE*/

#infoTramite {
  padding: 50px;
  margin: 20px;
  border-radius: 25px;
  background-color: #e8edf7;
  color: rgb(57, 56, 56);
}

.labelRequest{
  color:rgb(57, 56, 56);
  font-size: 20px;

}

.labelCheck{
 padding-right: 20px;
 padding-top: 20px;
}

.inputRequest{
  border-radius: 30px;
}
.btn-request{
  margin-top: 20px;
  margin-right: 150px;
  margin-left: 40px;
}

.numeroSelector{
  width: 100px;
  margin-left: 50px;
}

#liTramite{
  padding-top: 30px;
}

#h3Doc{
  padding-left: 30px;
}

.iconButton{
  padding-right : 10px;

}
.btDoc{
  font-size: 15px;
}

/*ESTILOS DE PANTALLA MEDIO DE PAGO*/

.imgPago{
   width: 200px;
   height: 100px;
   border-radius: 50px;
   
}

.h1Pago{
   padding-top: 30px;
  padding-right: 150px;

}

.imgLogo{
  width: 300px;
  height: 120px;
  padding-right: 10px;
}